# Backend API URL (Replace with your live backend URL in production)
VITE_API_URL=http://localhost:8000/api/v1

# Firebase Authentication Configuration
VITE_FIREBASE_API_KEY=AIzaSyAw426paE0UO37GHZGctdN5LQFMdYRHqR8
VITE_FIREBASE_AUTH_DOMAIN=apollouniversity-sot.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=apollouniversity-sot
VITE_FIREBASE_STORAGE_BUCKET=apollouniversity-sot.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=924569575371
VITE_FIREBASE_APP_ID=1:924569575371:web:e6698a67a6bcf28224204e
VITE_FIREBASE_MEASUREMENT_ID=G-G3W2YGSP2E
